*{
    padding: 0;
    border: 0;
    margin: 0;
}
.container{
    width: 25vw;
    height: 70vh;
    margin: 10vh auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
    "input input"
    "buttons operations";
}
.container-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.3vh 0.3vw;
    grid-area: buttons;
    margin-right: 0.2vw;
}
.container-operations{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3vh;
   
}
.container-operations input{
    font-size: 2rem;
   
}
.container-buttons input{
    font-size: 3rem;
}
.display{
    grid-area: input;
    display: flex;
    border: 1px solid black;
    margin-bottom: 0.5vh;
}
.display input{
    grid-area: input;
    flex: 1;
    font-size: 2rem;
}